.feed-wrapper{

 display: flex;
  justify-content: space-between;


  margin: 12vh 1vw ;
  bottom: 6vh;
  width: 96vw;
  border-radius: 8px;
  position: relative;
  height: auto;
  min-height: 80vh;
  
}


@media (max-width: 900px){
  .feed-wrapper{
    display: flex;
    flex-direction: column-reverse;
    min-height: none;
    height: auto;
    margin: 2vh 1vw;
  }
}